<footer class="footer mt-auto py-3" style="background-color: #ceebff; bottom:0; position:absolute; width:100%" >
    <div class="container">
       <span class="text-muted">“Yesterday is history, tomorrow is a mystery, today is a gift of God, which is why we call it the present.” - Bill Keane</span>
    </div>
 </footer>