<!DOCTYPE html>
<html>
  <head>
    <title>Code Nation Hackathon</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href ="public\css\donate.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Your Javascript Linked Below-->
     
    
      
  </head>
  <body>
      <header> <% include partials/header %> </header>
      
     
      <div class="jumbotron jumbotron-fluid darken" id='my' >
          
        <div class="container" id="">
            
            <h1 class="display-4" id="insi">Covid-19 Relief</h1>
            <p id ="content" class="lead">Any money that you donate will go towards directly helping those on the front lines treating Covid-19 patients and testing those potentially infected with the virus.</p>
            <button type="button" class="btn btn-primary btn-lg" id="don">
                <a  class="btn btn-primary btn-lg"  href="https://secure.directrelief.org/site/Donation2?df_id=2924&mfc_pref=T&2924.donation=form1">Donate</a>
            
            </button>
        </div>
          
      </div>
         
      <div class="container">
          <div class="row">
              <div class="col-4">
                  
                <div class="card" style="width: 18rem; margin-top: 20px;">
                    <img src="https://www.statnews.com/wp-content/uploads/2020/04/AP_20101756277973-768x432.jpg" class="card-img-top" alt="...">
          
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://www.statnews.com/2020/04/16/early-peek-at-data-on-gilead-coronavirus-drug-suggests-patients-are-responding-to-treatment/">Gilead Data Suggests Coronavirus Patients Are Repsonding To Treatment</a>
                        
                        </h5>
                        
                        <p class="card-text">A Chicago hospital treating severe Covid-19 patients with Gilead Sciences’ antiviral medicine remdesivir in a closely watched clinical trial is seeing rapid recoveries in fever and respiratory symptoms, with nearly all patients discharged in less than a week.</p>
          
                    </div>
   
                </div>
              </div>
              <div class="col-4">
                   <div class="card" style="width: 18rem; margin-top: 20px ">
                        <img src="https://media.self.com/photos/5e98c35081d01d00081851be/4:3/w_2560%2Cc_limit/%252520hands_reaching_community.png" class="card-img-top" style="height:160px" alt="...">
          
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="https://www.self.com/story/organizations-to-support">Coronavirus Donations: 16 Organizations That Can Use Your Support Right Now</a>
                            </h5>
                            <p class="card-text">In many cases these organizations have pivoted partially or fully to advocacy and organizing related to the pandemic and/or to providing resources and relief to people who need it most. And many other people (maybe you) are looking for ways to help right now.</p>
          
                        </div>
   
                    </div>
              
              
              </div>
              <div class="col-4">
                 <div class="card" style="width: 18rem; margin-top: 20px ">
                    <img src="https://static01.nyt.com/images/2020/03/26/science/26VIRUS-FEVER1/merlin_170839722_43db7652-d1d6-4afc-acf1-81da00b236fd-jumbo.jpg?quality=90&auto=webp" class="card-img-top" style="height:160px" alt="...">
          
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://www.nytimes.com/2020/03/30/health/coronavirus-restrictions-fevers.html">Restrictions Are Slowing Coronavirus Infections, New Data Suggest</a>
                        </h5>
                        <p class="card-text">Harsh measures, including stay-at-home orders and restaurant closures, are contributing to rapid drops in the numbers of fevers — a signal symptom of most coronavirus infections — recorded in states across the country, according to intriguing new data produced by a medical technology firm.</p>
          
                    </div>
   
                </div>
                  
            </div>
              
        </div>
          
    </div>
      
  </body>
</html>