<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUoKMjgQbskgxkdWWlxNAaHp672Jq08Jg">
    </script>

  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>




  <script src="/public/js/Volunteer.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/Volunteer.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Venue Finder</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #7bbff0;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
          <li class="nav-item active">
             <a class="nav-link" href="/volunteer">Volunteer<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/latest">Latest Info</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/donation">Donation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
         </li>
       </ul>
    </div>
 </nav>

  <h1 class="head">Venue Finder</h1>
  <h2 class="head">Powered by Foursquare and Google Maps</h2>
  <div id="div">
    <input placeholder="Type your address" id="ip"> </input>

    <input placeholder="Type search here" id="q" hidden> </input>

    <button id="submit">Search</button>
    <button id="clear">Clear</button>
  </div>
  <!--<div>
<strong>Mode of Travel: </strong>
<select id="mode" onchange="calcRoute()">
  <option value="DRIVING">Driving</option>
  <option value="WALKING">Walking</option>
  <option value="BICYCLING">Bicycling</option>
  <option value="TRANSIT">Transit</option>
</select>
</div>
-->



  <ul id="print"></ul>

  <div id="map-canvas"></div>

  <% include partials/footer %>

</body>

</html>